<div class="h-dvh flex justify-center items-center" id="inside_section">
    <fade-in class="opacity-0 ease-in-out w-full" _="on load transition my opacity to 1 over 0.2 seconds">
    <form class="w-[35%] mx-auto" method="post" enctype="multipart/form-data" hx-post="{% url 'blog:create-content' blog_title %}" hx-target="#inside_section" hx-swap="outerHTML">{% csrf_token %}
      <div class="relative z-0 w-full mb-5 group">
          <textarea type="text" name="text" id="text" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-lime-600 border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" " autofocus></textarea>
          <label for="text" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Text (if available)</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
          <input type="file" name="file" id="file" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-lime-600 border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" "/>
          <label for="file" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">file (if available)</label>
      </div>
      <button type="submit" class="text-center w-[50%] mt-[1rem] bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black">SUBMIT</button>
        <a class="p-2.5 border-2 bg-zinc-900 border-red-600 text-red-600 rounded-lg transition ease-in-out duration-150 hover:bg-red-600 hover:text-black" hx-get="{% url 'blog:detail' blog_title %}" hx-target="#inside_section" hx-swap="outerHTML">finish</a>
    </form>
    </fade-in>
</div>
{% include 'incs/notification.html' %}