

<section class="grow h-dvh bg-zinc-950 mx-5">
    <div class="h-dvh flex justify-center items-center">
        <form class="w-[35%] mx-auto">
          <div class="relative z-0 w-full mb-5 group">
              <input id="floating_username" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-white border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" " required autofocus/>
              <label for="floating_username" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
          </div>
          <div class="relative z-0 w-full mb-5 group">
              <input id="floating_password" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-white border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
              <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
          </div>
          <label for="message" class="block mb-2 text-sm font-medium text-gray-400">Your message</label>
          <textarea id="message" rows="4" class="block p-2.5 w-full text-xs text-lime-600 bg-black rounded-lg border border-gray-400 focus:ring-blue-500 focus:border-blue-500 placeholder-slate-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="type ..."></textarea>
          <div class="text-center w-[50%] mx-auto mt-[2rem] bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black">SUBMIT</div>
        </form>
    </div>
</section>
