{% extends 'base.html' %}

{% block section %}
<div class="h-dvh flex justify-center items-center">
    <form class="w-[35%] mx-auto" method="post">{% csrf_token %}
      <p class="text-red-700 text-center">username and password will be encrypted by crytography and also used with decryption</p>
      <p class="text-red-700 mb-[2.5rem] text-center">[ to prevent database attack ]</p>
      <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="title" id="title" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-lime-600 border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" " required autofocus/>
          <label for="title" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">title</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="username" id="username" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-lime-600 border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" " required autofocus/>
          <label for="username" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">username</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
          <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none text-lime-600 border-gray-600 focus:border-lime-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
          <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-lime-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
      </div>
      <button type="submit" class="text-center w-[50%] mt-[1rem] bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black">SUBMIT</button>
    </form>
</div>
{% endblock %}