<!DOCTYPE html>
<html lang="en">
<head>
    <!--    settings & API-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Martian Mono">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <style>
        body {
            font-family: "Martian Mono", sans-serif;
        }
    </style>
    <!--    title-->
    <title><9></title>
</head>
<body class="bg-black text-sm">
    <main class="flex">
        <aside class="flex-none w-[18rem] h-dvh hyperscript-hide-show">
            <div class="grid grid-cols-1 gap-2 m-2">
                <a class="bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black" href="{% url 'home:main_page' %}">HOME</a>
                <a hx-get="{% url 'blog:main_page' %}" hx-target="#block_section" hx-swap="innerHTML"  class="bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black">BLOG</a>
                <a hx-get="{% url 'message:groups' %}" hx-target="#block_section" hx-swap="innerHTML" class="bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black">MESSAGES</a>
                <a hx-get="{% url 'private-data:main_page' %}" hx-target="#block_section" hx-swap="innerHTML" class="bg-zinc-900 rounded-lg p-2 text-lime-600 border-2 border-lime-600 cursor-pointer transition ease-in-out duration-150 hover:bg-lime-700 hover:text-black">PRIVATE DATA</a>

            </div>
        </aside>
        <section class="grow h-dvh mx-5 overflow-y-scroll" id="block_section">
            {% block section %}
            {% endblock %}
        </section>
        <aside class="flex-none w-[18rem] h-dvh hyperscript-hide-show">
            <div class="grid grid-cols-1 gap-2 m-2">

                <canvas id="site-visit" class="bg-zinc-900 rounded-lg p-2 border border-lime-600"></canvas>
                <div class="text-lime-600 bg-zinc-900 rounded-lg p-3 border border-lime-600">
                    <p>fast-access-links</p>
                    <div class="ml-5 mt-2 grid grid-cols-1 gap-1" style="font-size: 12px">
                        {% for fal in fast_access_data %}
                            <a class="transition ease-in-out duration-150 hover:text-lime-700" target="_blank" href="{{ fal.link }}">- {{ fal.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                    <div class="bg-zinc-900 rounded-lg p-2 border border-red-800 text-red-700 text-xs grid grid-cols1 gap-1">
                        {% if user.is_authenticated %}
                        <p>NAME: {{ user.name }}</p>
                        <p>REGISTRATION: {% if user.is_admin %}admin{% elif user.is_verify %}verified{% else %}need verification{% endif %}</p>
                        <p>LOGIN DATE: {{ user.last_login|date:"m/d/Y" }}</p>
                        <a class="text-center px-2 py-1 border border-red-700 mt-2 rounded transition ease-in-out duration-150 hover:bg-red-700 hover:text-black" href="{% url 'accounts:change-password' %}">CHANGE-PASSWORD</a>
                        <a class="text-center px-2 py-1 border border-red-700 mt-1 rounded transition ease-in-out duration-150 hover:bg-red-700 hover:text-black" href="{% url 'accounts:logout' %}">LOGOUT</a>
                          {% if not user.is_verify %}
                          <a class="text-center px-2 py-1 border border-red-700 mt-1 rounded transition ease-in-out duration-150 hover:bg-red-700 hover:text-black" href="{% url 'accounts:send-activate-token' %}">activate user</a>
                          {% endif %}
                        {% else %}
                        <a class="text-center px-2 py-1 border border-red-700 my-1 rounded transition ease-in-out duration-150 hover:bg-red-700 hover:text-black" href="{% url 'accounts:signup' %}">SIGNUP</a>
                        <a class="text-center px-2 py-1 border border-red-700 my-1 rounded transition ease-in-out duration-150 hover:bg-red-700 hover:text-black" href="{% url 'accounts:login' %}">LOGIN</a>
                        {% endif %}
                        <a class="text-center px-2 py-1 border border-red-700 my-1 rounded transition ease-in-out duration-150 hover:bg-red-700 hover:text-black" href="{% url 'accounts:forget-password' %}">FORGET-PASSWORD</a>
                    </div>
            </div>
        </aside>
    </main>
    <div id="js-toast" class="z-50 fixed bottom-4 right-2">
        <div class="bg-black border border-zinc-600 px-5 py-3 w-[17rem] rounded-lg text-center text-zinc-600">
            <p><span _="on click transition .hyperscript-hide-show opacity to 0 over 0.2s" class="underline underline-offset-2 cursor-pointer transition ease-in-out duration-150 hover:text-lime-600">hide</span> / <span _="on click transition .hyperscript-hide-show opacity to 1 over 0.2s" class="underline underline-offset-2 cursor-pointer transition ease-in-out duration-150 hover:text-lime-600">show</span> [sidebar]</p>
        </div>
    </div>
    {% include 'incs/notification.html' %}
</body>
<script>
  const site_visit = document.getElementById('site-visit');
  new Chart(site_visit, {
    type: 'line',
    data: {
      labels: {{ track_users_seen.date }},
      datasets: [{
        label: 'site visit',
        data: {{ track_users_seen.count }},
        borderWidth: 1,
        borderColor: '#65a30d',
        backgroundColor: '#65a30d',
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% block script %}
{% endblock %}
</html>