<div class="w-[80%] mx-auto text-slate-500" id="inside_section">
<fade-in class="opacity-0 ease-in-out" _="on load transition my opacity to 1 over 0.2 seconds">
    <h1 class="text-4xl mt-[4rem] text-center">{{ blog.title }}</h1>
    <div class="bg-slate-600 h-[1px] my-5"></div>
    {% for c in blog.category.all %}
        <a href="{% url 'blog:main_page' %}?category={{ c.name }}" class="border-2 border-{{ c.color }}-950 transition ease-in-out duration-150 hover:bg-{{ c.color }}-950 rounded-2xl px-3 py-2 text-{{ c.color }}-800">{{ c.name }}</a>
    {% endfor %}
    <div class="bg-slate-600 h-[1px] my-5"></div>

    {% for d in data %}
        <p class="text-xs my-5">{{ d.text }}</p>
        {% if d.file %}<img class="mx-auto outline outline-2 outline-offset-8 rounded-lg w-[23rem] my-[3rem]" src="{{ d.file.url }}" alt="{{ d.filename }}">{% endif %}
    {% endfor %}
    <div class="w-full flex justify-end">
        <a hx-get="{% url 'message:group' blog.title %}" hx-target="#inside_section" hx-swap="outerHTML" class="px-4 py-3 border-2 border-lime-600 text-lime-600 rounded-lg m-5 transition ease-in-out duration-150 hover:bg-lime-600 hover:text-black cursor-pointer">
            open chat-room <span class="outline outline-offset-2 outline-2 rounded-lg">10</span>
        </a>
    </div>
</fade-in>
</div>
